{% extends 'base2.html' %}
{% load static %}
{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=Ramabhadra&family=Source+Code+Pro:ital,wght@1,200&display=swap"
    rel="stylesheet">
<style>
    .about-us {
        background: no-repeat center center fixed url('static/images/contact/img1.jpg');
        background-size: cover;
        display: block;
    }

    .about-us::before {
        background: rgb(64 64 64 / 40%);
    }

    #contact {
        height: 120vh;
    }

    .contact {
        margin: 100px auto;
        width: 50%;
        /* box-shadow: rgb(0, 0, 0)0px 0px 10px; */
    }

    .contact-heading {
        padding: 60px;
    }

    .form {
        margin: auto;
        width: 65%;
        height: 370px;
    }

    .form-control {
        border-radius: 15px;
        background: none;
        border: 1px solid #767676;
    }
    .form-control::placeholder{
        color: rgb(255, 255, 255);
    }
    .btn {
        border-radius: 30px;
        padding: 13px 12px;
        font-size: 19px;
        transition: .2s all ease-in;
    }

    .btn-info {
        background-color: #323030;
        border-color: #323030;
    }

    .btn-info:hover {
        background-color: #707070;
        border-color: #707070;
    }

    .h3,
    h3 {
        color: white;
        font-family: 'Carter One', cursive;
        font-size: 30px;
    }

    .font-color {
        color: #ffffff;
        font-size: larger;
        font-family: 'Poppins', sans-serif;
        font-size: 19px;
    }

    /* The Modal (background) */
    #myModal {
        display: none;
        /* Hidden by default */
    }

    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background: no-repeat center center fixed url('static/images/contact/img1.jpg');
        background-size: cover;
        /* background-color: #d9fff0; */
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 25%;
        height: 400px;

    }

    .modal-content p {
        margin: 50% auto;
        width: 85%;
        font-size: 16px;
    }

    /* The Close Button */
    .close {
        color: rgb(7, 7, 7);
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width:1080px) {
        .modal-content {
            margin: 57% auto;
            width: 65%;
            height: 345px;
        }

        .contact {
            margin: 95px auto;
            width: 100%;
        }

        .contact-heading {
            padding: 40 px;
        }

        .form {
            width: 75%;
        }


    }
</style>
{% endblock %}

{% block body %}

<section id="contact">
    <div class="container">
        <div class=" contact">
            <div class="contact-heading">
                <h3 class="text-center ">contact us</h3>
            </div>
            <div class="form">
                <form method="POST" id="contactForm"> {% csrf_token %}
                    <div class="form-group mb-3">
                     
                        <input type="text" name="name" id="name" class="form-control" placeholder=" Name"
                            aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group mb-3">
                     
                        <input type="text" name="email" id="email" class="form-control" placeholder=" Email"
                            aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group mb-3">
   
                        <textarea class="form-control" name="message" id="message" rows="3" placeholder=" Message" style="border-radius: 8px;"
                            required></textarea>
                    </div>
                    <div class="mb-3" style="display: grid;">
                        <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </form>
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" id="closeBtn">&times;</span>
                        <p id="successmsg">
                        </p>
                        <p style="margin: -16% auto;"> <a href="{% url 'home' %}" >Return to home page </a></p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $('#contactForm').submit(function (event) {
        event.preventDefault();

        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '{% url "contact_us" %}',
            data: serializedData,
            
            success: function (message) {
                // clear form data when user submits it 
                $("#contactForm").trigger('reset');
                // append the data we got from backend
                document.getElementById('successmsg').innerHTML = message.message;
                //  when user submits the form
                var modal = document.getElementById('myModal');
                modal.style.display = 'block';

                // when user clicks the close button
                var closebtn = document.getElementById('closeBtn');
                closebtn.onclick = function () {
                    modal.style.display = 'none';
                }
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }
        });

    });

</script>


{% endblock %}